#qbasic {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #0101AB;
    /*visibility: hidden;*/
}
#qbasic p span:hover {
    background-color: black;
    color: #A9A9AF;
}
#qbasic p span {

}
#qbasic p {
    margin-top: 0px;
    background-color: #A9A9AF;
    height: 25px;
    font-size: 23px;
}
#qbasic textarea {
   
}
body,html {
    width: 100%;
    height: 100%;
    margin: 0%;
	background-color: black;
	user-select: none;
	font-family: blocky;
}
/*#box {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}*/
#input {
	width: 100vh;
	background-color: transparent;
	border: transparent;
	outline: none;
	font-family: blocky;
	color: white;
	font-size: 20px;
	width: auto;
	margin-left: -10px;
}
#span {
	font-family: blocky;
	color: white;
	font-size: 20px;
}
#txt {
	color: white;
	font-size: 20px;
}
@font-face {
	font-family: blocky;
	src: url(dos.ttf);
}